<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="recreate.css">
		<title></title>
	</head>
	<body>
		<div class="container">
			<div class="row">
			<img src="https://cdn3.iconfinder.com/data/icons/10con/512/chemistry_reaction_product-128.png">
			Frankenstien posted a new bounty
			</div>
			<div class="row">
				<div class="col-md-4 back">
					<img src="https://cdn3.iconfinder.com/data/icons/10con/512/fire_matchstick-128.png">
					bounty <span>#96</span> on <span>helpfull</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 back">
					<span class="glyphicon glyphicon-apple attr" aria-hidden="true"></span>
					<span class="number">3,444</span>
					<div class="btn-group" role="group" aria-label="...">
						  <button type="button" class="btn btn-default"><span>Now</span></button>
						  <button type="button" class="btn btn-default">html</button>
						  <button type="button" class="btn btn-default">css</button>
					</div>
					<p>This is my useless text.  There are many like it but this one is mine!  The truth! You can't handle the truth!</p>
					<div class="view_post">
						<span class="glyphicon glyphicon-ok likes" aria-hidden="true"></span>
						<span>Han</span>,<span>Chewy</span>, and 216 others like this
						<br>
						<span class="glyphicon glyphicon-eye-open see" aria-hidden="true"></span>
						<span>View all 216 comments</span>
						<br>
						<br>
					</div>
					<div>
						<img src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/Circle_Grey.png" class="post">
						<span>Lando</span>
						<p>Man, these clouds are beautiful</p>
						<br>
						<img src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/Circle_Grey.png" class="post">
						<span>Palpatine</span>
						<p>You are such a bitch!  I wouldn't bring you to the Dark Side if you were the last Jedi Knight!</p>
					</div>
					<div class="comment">
						<img src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/Circle_Grey.png" class="post">
						<button type="button" class="btn btn-default comment">comment</button>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>

<!-- <li><span class="glyphicon glyphicon-apple attr" aria-hidden="true"></span></li>
					<li class="number">3,444</li> -->